
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">event create</h2>
        </div>
        <div class="card-body">
          <form
            class="form"
            #eventForm="ngForm"
            (ngSubmit)="eventForm.form.valid && onCreateevent()"
            novalidate
            autocomplete="off"
          >
            <div class="mb-3">
              <label for="Name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.name"
                name="name"
                #name="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (name.touched || eventForm.submitted) &&
                  name.errors?.required
                "
              >
                Name is required
              </span>
            </div>
            <div class="mb-3">
              <label for="Author" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.author"
                name="name"
                #name="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (name.touched || eventForm.submitted) &&
                  name.errors?.required
                "
              >
                Name is required
              </span>
            </div>
            <div *ngIf="showAlert" class="alert alert-success" role="alert">
              Conference successfully created!
              <button class="btn btn-primary"
              (click)="goBack()"
              >Back</button>
            </div>
            <div align="right">
              <button type="submit" class="btn btn-success">Create</button>
              <button
                type="reset"
                class="btn btn-danger ms-2"
                (click)="resetForm()"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>